<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="The Page Description">
        <style type="text/css">
        @-ms-viewport{width: device-width;}
        .button.dlcaxton, body footer {
            background-color: #1b3540;
        }
        .button.dlcaxton:hover {
            background-color: #1b3540;
            opacity: 0.8;
        }
        .button.dlcaxton i {
            display: inline-block;
            width: 20px !important;
            height: 20px !important;
            background: url(caxton-logo.svg) center center;
            background-size: contain;
        }
        </style>
        <title>Caxton</title>
        <link rel="stylesheet" href="css/layers.min.css" media="screen">
        <link rel="stylesheet" href="css/font-awesome.min.css" media="screen"> 
        <link rel="stylesheet" href="style.css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" href="favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">           
    </head>

    <body class="page">

        <header role="banner" class="transparent light">
            <div class="row">
                <div class="nav-inner row-content buffer-left buffer-right even clear-after">
                    <div id="brand">
                        <h1 class="reset"><!--<img src="img/logo.png" alt="logo">--><a href="home-01.html">Caxton</a></h1>
                    </div><!-- brand -->
                    <a id="menu-toggle" href="#"><i class="fa fa-bars fa-lg"></i></a>
                    <nav>
                        <ul class="reset" role="navigation">
                            <li class="menu-item"><a href="/#caxton">Home</a></li>
                            <li class="menu-item"><a href="/#for-users">For users</a></li>
                            <li class="menu-item"><a href="/#for-developers">For developers</a></li>
                            <li class="menu-item"><a href="/#api">API</a></li>
                        </ul>
                    </nav>
                </div><!-- row-content -->  
            </div><!-- row -->  
        </header>
        <main role="main" id="caxton">

        {{{body}}}


        </main><!-- main -->

        <footer role="contentinfo">
            <div class="row">
                <div class="row-content buffer clear-after">
                    <section id="top-footer">
                        <div class="widget column three">
                            <h4>Menu</h4>
                            <ul class="plain">
                                <li><a href="#caxton">Top</a></li>
                                <li><a href="#api">API docs</a></li>
                            </ul>
                        </div>
                        <div class="widget column six">
                            <h4>Privacy</h4>
                            <p>Caxton itself does not store URLs that you visit, and it has no idea who you 
                            are. There may be some references to visited URLs in server logs for testing 
                            purposes and in anonymous collected data for analytics.</p>
                        </div>
                        <div class="widget meta-social column three">
                            <h4>Follow sil on twitter</h4>
                            <ul class="inline">
                                <li><a href="https://twitter.com/sil" class="twitter-share border-box"><i class="fa fa-twitter fa-lg"></i></a></li>
                            </ul>
                            <h4>Thanks</h4>
                            <p>Many thanks to <a href="https://twitter.com/popey">Alan Pope</a> for early testing.</p>
                        </div>
                    </section><!-- top-footer -->
                    <section id="bottom-footer">
                        <p class="keep-left">Site design uses Beetle HTML &copy; 2014 <a href="http://mokaine.com/" alt="Mokaine Lab">Mokaine</a>.</p>
                        <p class="keep-right">This is an <a href="http://www.kryogenix.org/">sil</a> thing.</p>
                    </section><!-- bottom-footer -->
                </div><!-- row-content -->  
            </div><!-- row -->  
        </footer>

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="js/plugins.js"></script>
        <script src="js/beetle.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-331575-5', 'auto');
  ga('send', 'pageview');

</script>
    </body>

</html>
