            <div id="intro-wrap">
                <div id="intro" class="preload" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fade">
                    <div class="intro-item" style="background-color: #70767C;">
                        <div class="intro-mockup-wrapper">
                            <div class="caption-mockup caption-right column six last-special">
                                <h2>Push for Ubuntu</h2>
                                <p>Caxton handles push notifications for all your Ubuntu apps.</p>
                                <a class="button white transparent" href="#for-users">Read More</a>
                            </div><!-- caption -->
                            <div class="intro-mockup intro-left column six">
                                <img src="caxton-phone.png" alt="">
                            </div><!-- intro-mockup -->
                        </div><!-- intro-mockup-wrapper -->
                    </div>
                    <div class="intro-item" style="background-color: #70767C;">
                        <div class="intro-mockup-wrapper">
                            <div class="caption-mockup">
                                <h2>Built for users</h2>
                                <p>Send anything to your Ubuntu phone with IFTTT or from your browser.</p>
                            </div><!-- caption -->
                            <div class="photocaption">
                                <h4>Shot by <a href="http://dribbble.com/noptar">Mani</a></h4>
                            </div><!-- photocaption -->
                            <div class="intro-mockup">
                                <img src="http://placehold.it/1193x937/ddd/fff&text=placeholder%20image" alt="">
                            </div><!-- intro-mockup -->
                        </div><!-- intro-mockup-wrapper -->
                    </div>
                    <div class="intro-item" style="background-color: #70767C;">
                        <div class="intro-mockup-wrapper">
                            <div class="caption-mockup caption-left column six">
                                <h2>Easy for developers</h2>
                                <p>Use the Caxton API to add push to your desktop apps or your server scripts.</p>
                                <a class="button white transparent" href="#for-developers">Read More</a>
                            </div><!-- caption -->
                            <div class="intro-mockup intro-right column six last">
                                <img src="http://placehold.it/780x1824/ddd/fff&text=placeholder%20image" alt="">
                            </div><!-- intro-mockup -->
                        </div><!-- intro-mockup-wrapper -->
                    </div>
                </div><!-- intro -->
            </div><!-- intro-wrap -->

            <div id="main">
                <section class="row section call-to-action">
                    <div class="row-content buffer even">
                        <p>You need Caxton.</p>
                        <a class="button red" href="#">Get it now!</a>
                    </div>
                </section>

                <section class="row section" id="for-users">
                    <div class="row-content buffer even clear-after">
                        <div class="column six">
                            <h2>For users</h2>
                            <p>Install Caxton on your Ubuntu phone and then send messages to any Ubuntu
                            app through it. You can use Caxton to <a href="#bookmarklet">send web pages
                            to your phone from any browser</a>, or <a href="#ifttt">send notifications
                            from IFTTT to your phone</a>, or anything else with Caxton integration.</p>
                        </div>
                        <div class="side-mockup right-mockup animation">
                            <div class="slider ubuntu-edge-slider grey" data-autoplay="false">
                                <figure>
                                    <div><img src="caxton-phone.png" alt=""></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row section" id="for-developers">
                    <div class="row-content buffer even clear-after">
                        <div class="column six push-six last-special">
                            <h2>For developers</h2>
                            <p>Use the <a href="#api">Caxton API</a> to send any URL to your phone
                            apps. You could <a href="#desktop">integrate push sends into your
                            desktop apps</a>, or <a href="#scripts">send messages from your scripts to
                            your phone</a>.</p>
                            <a class="button transparent aqua" href="#api">Explore the API</a>
                        </div>
                        <div class="side-mockup left-mockup animation">
                            <div class="slider desktop-slider" data-autoplay="3000">
                                <figure>
                                    <div><img src="http://placehold.it/1148x630/ddd/fff&text=placeholder%20image" alt=""></div>
                                    <div><img src="http://placehold.it/1148x630/ddd/fff&text=placeholder%20image" alt=""></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row section text-light" style="background-color:#4FCEAD;">
                    <div class="row-content buffer even clear-after">
                        <div class="slogan animation">
                            <h2>Ermahgerd!</h2>
                            <p>Caxton is so good.</p>
                        </div><!-- slogan -->
                    </div>
                </section>

                <section class="row section" id="api">
                    <div class="row-content buffer even clear-after">
                        <div class="column twelve last">
                            <h2>Send web pages to your phone from any browser</h2>
                        </div>
                        <div class="column six">
                            <h3>Add the Caxton bookmarklet</h3>
                            <p>Press the <strong>Get a code</strong> button in Caxton on your Ubuntu
                            device and then enter the code in the box on the right.</p>
                        </div>
                        <div class="column six last">
                            <form id="bmform">
                                <input type="text" id="bmcode" maxlength=5 required>
                                <button id="getbm" class="button mint"><i class="fa fa-anchor"></i> <span>Get bookmarklet</span></button><span class="error"></span>
                                <p><span></span><strong>Drag the link to your bookmarks bar</strong></p>
                            </form>
                            <style>
                            #getbm.getting i {
                                -webkit-animation: spin 1s linear infinite;
                                animation: spin 1s linear infinite;
                            }
                            @keyframes spin {
                                from { transform: rotate(0deg); }
                                to { transform: rotate(360deg); }
                            }
                            @-webkit-keyframes spin {
                                from { -webkit-transform: rotate(0deg); }
                                to { -webkit-transform: rotate(360deg); }
                            }
                            #getbm span {
                                opacity: 1;
                                -webkit-transition: opacity 500ms ease;
                                transition: opacity 500ms ease;
                            }
                            #getbm.getting span {
                                opacity: 0;
                            }
                            #bmform p span:empty + strong {
                                display: none;
                            }
                            #bmform p span:not(:empty) + strong {
                                display: block;
                            }
                            #bmform span.error:not(:empty) {
                                border-radius: 4px;
                                padding: 8px 10px;
                                opacity: 1;
                                color: red;
                                -webkit-animation: pulsered 150ms ease alternate;
                                animation: pulsered 150ms ease alternate;
                                -webkit-animation-iteration-count: 5;
                                animation-iteration-count: 5;
                            }
                            @keyframes pulsered {
                                0% { background: red; color: white; }
                                50% { color: red; }
                            }
                            @-webkit-keyframes pulsered {
                                0% { background: red; color: white; }
                                50% { color: red; }
                            }
                            </style>
                            <script>
                            document.getElementById("bmform").addEventListener("submit", function(e) {
                                e.preventDefault();
                                document.querySelector("#bmform span.error").innerHTML = "";
                                /* trigger reflow to restart animation. Stupid bug. 
                                   As per http://css-tricks.com/restart-css-animation/ */
                                document.querySelector("#bmform span.error").offsetWidth = document.querySelector("#bmform span.error").offsetWidth;
                                function usebm() {
                                    var x = new XMLHttpRequest();
                                    x.open("POST", "http://caxton.herokuapp.com/api/send", true);
                                    x.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                    x.onreadystatechange = function() {
                                        if (x.readyState == 4) {
                                            console.log(JSON.parse(x.responseText));
                                        }
                                    };
                                    x.send("appname=Caxton%20bookmarklet&token=" + encodeURIComponent('!TOKEN!') + "&url=" + encodeURIComponent(location.href));
                                }
                                var x = new XMLHttpRequest();
                                x.open("POST", "http://caxton.herokuapp.com/api/gettoken", true);
                                x.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                x.onreadystatechange = function() {
                                    if (x.readyState == 4) {
                                        var j;
                                        try {
                                            j = JSON.parse(x.responseText);
                                        } catch(e) {
                                            j = null;
                                        }
                                        document.getElementById("getbm").className = document.getElementById("getbm").className.replace(" getting", "");
                                        if (!j || j.error) {
                                            document.querySelector("#bmform span.error").innerHTML = "Failed. Please try again.";
                                        } else {
                                            var bm = usebm.toString().replace(/\n/g,"").replace(/  +/g, " ");
                                            bm = bm.replace("!TOKEN!", encodeURIComponent(j.token));
                                            var a = document.createElement("a");
                                            a.href = "javascript:(" + bm + ")()";
                                            a.appendChild(document.createTextNode("Send to my Ubuntu phone"));
                                            document.querySelector("#bmform p span").innerHTML = "";
                                            document.querySelector("#bmform p span").appendChild(a);
                                        }
                                    }
                                };
                                x.send("appname=Caxton%20bookmarklet&code=" + document.getElementById("bmcode").value);
                                document.getElementById("getbm").className += " getting";
                            }, false);
                            </script>
                        </div>
                    </div>
                </section>

                <section class="row section text-light" style="background-color:#4FCEAD;">
                    <div class="row-content buffer even clear-after">
                        <div class="slogan animation">
                            <h2>Ermahgerd!</h2>
                            <p>Caxton is so good.</p>
                        </div><!-- slogan -->
                    </div>
                </section>

                <section class="row section" id="api">
                    <div class="row-content buffer even clear-after">
                        <div class="column twelve last">
                            <h2>Caxton API</h2>
                        </div>
                        <div class="column six">
                            <h3>Get a token</h3>
                            <p>Ask the user to press the button in the Caxton phone app and then enter
                            the code it gives. <code>POST</code> that code and your app's name to
                            <code>/api/gettoken</code> to get a token. Save the token to use in future
                            send requests. You only need to do this once.</p>
                        </div>
                        <div class="column six last">
                            <h3>Code</h3>
                            <pre>curl -X POST \
 -d "code=abcde&amp;appname=My%20app%20name" \
 http://caxton.herokuapp.com/api/gettoken

Content-type: application/json
{"token": "lcaw...aspof"}
                            </pre>
                        </div>
                        <div class="column six">
                            <h3>Send a notification</h3>
                            <p><code>POST</code> to <code>/api/send</code> with required parameters <code>url</code>,
                            <code>appname</code>, and <code>token</code> and any optional parameters from below.
                            Your URL will be sent to Caxton and opened on the phone in whichever application
                            handles it. For an HTTP URL, this will be the web browser, but you can send any URL
                            you choose, including app-specific URLs to open a different app.</p>
                        </div>
                        <div class="column six last">
                            <h3>Code</h3>
                            <pre>curl -X POST \
 -d "appname=My%20app%20name" \
 -d "token=lcaw...aspof" \
 -d "url=http://kryogenix.org" \
 http://caxton.herokuapp.com/api/send

Content-type: application/json
{ok: "Ok"}
                            </pre>
                        </div>
                        <div class="column six">
                            <h3>Required notification parameters</h3>
                            <dl>
                                <dt>url</dt>
                                <dd>A URL to open on the target device.</dd>
                                <dt>appname</dt>
                                <dd>The app name for which your token was registered.</dd>
                                <dt>token</dt>
                                <dd>The token returned from <code>/api/gettoken</code>.</dd>
                            </dl>
                        </div>
                        <div class="column six last">
                            <h3>Optional notification parameters</h3>
                            <dl>
                                <dt>message</dt>
                                <dd>A message to be shown in an on-screen notification on the device, and
                                saved with the URL for later access in the Caxton app.</dd>
                                <dt>count</dt>
                                <dd>A number to use in a badge on the Caxton icon.</dd>
                                <dt>sound</dt>
                                <dd>The name of a sound to play on the device when the notification arrives.
                                Choose from the following: (not yet specified, apologies.)</dd>
                                <dt>tag</dt>
                                <dd>A grouping for notifications; if this is specified, a newer notification
                                with the same tag will override the previous one. See the <a
                                href="http://developer.ubuntu.com/apps/platform/guides/push-notifications-server-guide/">push notifications server guide</a> for details.</dd>
                            </dl>
                        </div>
                    </div>
                </section>

                <section class="row section call-to-action">
                    <div class="row-content buffer even">
                        <p>You need Caxton.</p>
                        <a class="button red" href="#">Get it now!</a>
                    </div>
                </section>
            </div><!-- id-main -->