            <div id="intro-wrap">
                <div id="intro" class="preload" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fade">
                    <div class="intro-item" style="background-color: #70767C;">
                        <div class="intro-mockup-wrapper">
                            <div class="caption-mockup caption-right column six last-special">
                                <h2>Push for Ubuntu</h2>
                                <p>Caxton handles push notifications for all your Ubuntu apps.</p>
                                <a class="button white transparent" href="#for-users">Read More</a>
                            </div><!-- caption -->
                            <div class="intro-mockup intro-left column six">
                                <img src="caxton-phone.png" alt="">
                            </div><!-- intro-mockup -->
                        </div><!-- intro-mockup-wrapper -->
                    </div>
                    <div class="intro-item" style="background-color: #70767C;">
                        <div class="intro-mockup-wrapper">
                            <div class="caption-mockup">
                                <h2>Built for users</h2>
                                <p>Send anything to your Ubuntu phone with IFTTT or from your browser.</p>
                            </div><!-- caption -->
                            <div class="intro-mockup">
                                <img src="caxton-chrome-desktop.png" alt="">
                            </div><!-- intro-mockup -->
                        </div><!-- intro-mockup-wrapper -->
                    </div>
                    <div class="intro-item" style="background-color: #70767C;">
                        <div class="intro-mockup-wrapper">
                            <div class="caption-mockup caption-left column six">
                                <h2>Easy for developers</h2>
                                <p>Use the Caxton API to add push to your desktop apps or your server scripts.</p>
                                <a class="button white transparent" href="#for-developers">Read More</a>
                            </div><!-- caption -->
                            <div class="intro-mockup intro-right column six last">
                                <img src="caxton-code.png" alt="">
                            </div><!-- intro-mockup -->
                        </div><!-- intro-mockup-wrapper -->
                    </div>
                </div><!-- intro -->
            </div><!-- intro-wrap -->

            <div id="main">
                <section class="row section call-to-action">
                    <div class="row-content buffer even">
                        <p>You need Caxton. Your apps do too.</p>
                        <a class="button dlcaxton" href="https://appstore.bhdouglass.com/app/caxton.sil"><i></i> Get it now</a>
                    </div>
                </section>

                <section class="row section" id="for-users">
                    <div class="row-content buffer even clear-after">
                        <div class="column six">
                            <h2>For users</h2>
                            <p>Install Caxton on your Ubuntu Ubports phone and then send messages to any Ubuntu
                            app through it. You can use Caxton to <a href="#bookmarklet">send web pages
                            to your phone from any browser</a>, or <a href="#ifttt">send notifications
                            from IFTTT to your phone</a>, or anything else with Caxton integration.</p>
                        </div>
                        <div class="side-mockup right-mockup animation">
                            <div class="slider ubuntu-edge-slider grey" data-autoplay="false">
                                <figure>
                                    <div><img src="caxton-phone.png" alt=""></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row section text-light" id="for-developers" style="background-color: #CE6D4F">
                    <div class="row-content buffer even clear-after">
                        <div class="column six push-six last-special">
                            <h2>For developers</h2>
                            <p>Use the <a href="#api">Caxton API</a> to send any URL to your phone
                            apps. You could integrate push sends into your
                            desktop apps, send messages from your scripts to
                            your phone, or make an easy way for desktop users to send content to
                            your phone apps via custom URLs.</p>
                            <a class="button transparent mint" href="#api">Explore the API</a>
                        </div>
                        <div class="side-mockup left-mockup animation">
                            <div class="slider desktop-slider" data-autoplay="3000">
                                <figure>
                                    <div><img src="caxton-chrome-desktop.png" alt=""></div>
                                    <div><img src="caxton-safari-desktop.png" alt=""></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </section>

                <!--<section class="row section text-light" style="background-color:#4FCEAD;">
                    <div class="row-content buffer even clear-after">
                        <div class="slogan animation">
                            <h2>Ermahgerd!</h2>
                            <p>Caxton is so good.</p>
                        </div>
                    </div>
                </section>-->

                <section class="row section" id="bookmarklet">
                    <div class="row-content buffer even clear-after">
                        <div class="column twelve last">
                            <h2>Send web pages to your Ubuntu phone from any browser</h2>
                        </div>
                        <!--
                        <div class="column twelve last">
                            <p>Download the Caxton extension for <a id="chrome-extension" href="https://chrome.google.com/webstore/detail/bdfeonihegihneninighcbepjoeegffd">Chrome</a>,
                            <a href="caxton.xpi">Firefox</a>, or <a href="caxton.crx">Opera</a>.</p>
                        </div>
                        <div class="column six">
                            <ol>
                            <li>Press the <img src="caxton-logo.svg" class="caxton-button"> Caxton button in your browser</li>
                            <li>When it asks for a code, press <span class="app-button">Get a code for an app</span> in the Caxton app on your phone to get a code</li>
                            <li>Enter the code into your browser</li>
                        </ol>
                        <p>Now your desktop browser and your phone are paired: press the <img src="caxton-logo.svg" class="caxton-button"> Caxton button to send URLs to your phone!</p>
                        </div>
                        <div class="column six last">
                            <img src="pairing-explanation.png" alt="">
                        </div>
                        <div class="column twelve last">
                            <p>Alternatively, if you don't want to install the extension you can create yourself
                            a Caxton bookmarklet:</p>
                        </div>
                        -->
                        <div class="column six">
                            <h3>Add the Caxton bookmarklet</h3>
                            <p>Press the <span class="app-button">Get a code for an app</span> button in Caxton on your Ubuntu
                            device and then enter the code in the box on the right.</p>
                            <p>You'll then get a <em>bookmarklet</em>: a button which acts like a tiny
                            browser extension. Drag it to your bookmarks bar and then click it when viewing
                            any website to send that website to your phone!</p>
                        </div>
                        <div class="column six last">
                            <form id="bmform" class="getform">
                                <input type="text" id="bmcode" maxlength=5 required placeholder="enter code from Caxton app">
                                <button id="getbm" class="button mint getcode"><i class="fa fa-anchor"></i> <span>Get bookmarklet</span></button><span class="error"></span>
                                <div>
                                    <span></span>
                                    <div>
                                        <strong>Drag the orange button to your bookmarks bar.</strong>
                                        <div>If you don't have a bookmarks bar:
                                            <div>In <strong>Chrome</strong>
                                            <a href="https://support.google.com/chrome/answer/95745?hl=en-GB">select 
                                            <em>Bookmarks > Show bookmarks bar</em> from the browser menu</a>, or
                                            press <em class="key">Ctrl</em> <em class="key">Shift</em> 
                                            <em class="key">B</em> or <em class="key">⌘</em> 
                                            <em class="key">Shift</em> <em class="key">B</em>.</div>
                                            <div>In <strong>Firefox</strong>,
                                            <a href="https://support.mozilla.org/en-US/kb/bookmarks-toolbar-display-favorite-websites">select <em>Customize > 
                                            Show/Hide Toolbars > Bookmarks Toolbar</em> from the browser menu</a>.</div>
                                            <div id="bookmarklet-siv">In <strong>Safari</strong>,
                                            <a href="http://marklets.com/FAQ.aspx#safari">select <em>View > 
                                            Show Bookmarks Bar</em> from the main menu</a>.</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <style>
                            .caxton-button {
                                height: 24px;
                                width: 24px;
                                background-color: #333;
                                display: inline;
                            }
                            .app-button {
                                border-radius: 3px;
                                height: 24px;
                                line-height: 24px;
                                border: 1px solid transparent;
background: -moz-linear-gradient(top, #dd4814 0%, #d9722d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd4814), color-stop(100%,#d9722d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dd4814 0%,#d9722d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dd4814 0%,#d9722d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dd4814 0%,#d9722d 100%); /* IE10+ */
background: linear-gradient(to bottom, #dd4814 0%,#d9722d 100%); /* W3C */                                padding: 4px;
                                font-size: 12px;
                                color: white;
                            }
                            form.getform input { text-align: center; }
                            button.getcode.getting i {
                                -webkit-animation: spin 1s linear infinite;
                                animation: spin 1s linear infinite;
                            }
                            @keyframes spin {
                                from { transform: rotate(0deg); }
                                to { transform: rotate(360deg); }
                            }
                            @-webkit-keyframes spin {
                                from { -webkit-transform: rotate(0deg); }
                                to { -webkit-transform: rotate(360deg); }
                            }
                            button.getcode span {
                                opacity: 1;
                                -webkit-transition: opacity 500ms ease;
                                transition: opacity 500ms ease;
                            }
                            button.getcode.getting span {
                                opacity: 0;
                            }
                            form.getform {
                                margin-top: 1.7em;
                            }
                            #bmform div span:empty + div {
                                display: none;
                            }
                            #bmform div span:not(:empty) + div {
                                display: block;
                                margin-top: 5px;
                            }
                            #bmform > div > div > div {
                                font-size: 0.6em;
                            }
                            #bmform > div > div > div > div {
                                margin-left: 10px;
                            }
                            #bmform div span a {
                                background: #dd4814;
                                padding: 10px;
                                color: white;
                                border: 2px outset #dd4814;
                                border-radius: 5px;
                                text-decoration: none;
                            }
                            form.getform span.error:not(:empty) {
                                border-radius: 4px;
                                padding: 8px 10px;
                                opacity: 1;
                                color: red;
                                -webkit-animation: pulsered 150ms ease alternate;
                                animation: pulsered 150ms ease alternate;
                                -webkit-animation-iteration-count: 5;
                                animation-iteration-count: 5;
                            }
                            @keyframes pulsered {
                                0% { background: red; color: white; }
                                50% { color: red; }
                            }
                            @-webkit-keyframes pulsered {
                                0% { background: red; color: white; }
                                50% { color: red; }
                            }
                            </style>
                            <script>

                            /*
                            document.getElementById("chrome-extension").addEventListener("click", function(e) {
                                e.preventDefault();
                                chrome.webstore.install();
                            }, false);
                            */

                            function makeFormHandler(options) {
                                return function(e) {
                                    e.preventDefault();
                                    var form = e.target;
                                    form.querySelector("span.error").innerHTML = "";
                                    /* trigger reflow to restart animation. Stupid bug. 
                                       As per http://css-tricks.com/restart-css-animation/ */
                                    form.querySelector("span.error").offsetWidth;
                                    var x = new XMLHttpRequest();
                                    x.open("POST", "//caxton.herokuapp.com/api/gettoken", true);
                                    x.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                    x.onreadystatechange = function() {
                                        if (x.readyState == 4) {
                                            var j;
                                            try {
                                                j = JSON.parse(x.responseText);
                                            } catch(e) {
                                                j = null;
                                            }
                                            form.querySelector(".getcode").className = form.querySelector(".getcode").className.replace(" getting", "");
                                            if (!j || j.error) {
                                                form.querySelector("span.error").innerHTML = "Failed. Please try again.";
                                            } else {
                                                options.success(j.token);
                                            }
                                        }
                                    };
                                    x.send("appname=" + encodeURIComponent(options.appname) + 
                                        "&code=" + form.querySelector("input").value);
                                    form.querySelector(".getcode").className += " getting";
                                };
                            }

                            function usebm() {
                                var x = new XMLHttpRequest();
                                x.open("POST", "//caxton.herokuapp.com/api/send", true);
                                x.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                x.onreadystatechange = function() {
                                    if (x.readyState == 4) {
                                        console.log(JSON.parse(x.responseText));
                                    }
                                };
                                x.send("appname=Caxton%20bookmarklet&token=" + encodeURIComponent('!TOKEN!') + 
                                    "&url=" + encodeURIComponent(location.href));
                            }

                            document.getElementById("bmform").addEventListener("submit", makeFormHandler({
                                appname: "Caxton bookmarklet",
                                success: function(token) {
                                    var bm = usebm.toString().replace(/\n/g,"").replace(/  +/g, " ");
                                    bm = bm.replace("!TOKEN!", encodeURIComponent(token));
                                    var a = document.createElement("a");
                                    a.href = "javascript:(" + bm + ")()";
                                    a.appendChild(document.createTextNode("Send to my Ubuntu phone"));
                                    document.querySelector("#bmform div span").innerHTML = "";
                                    document.querySelector("#bmform div span").appendChild(a);
                                    document.getElementById("bookmarklet-siv").scrollIntoView(false);
                                }
                            }), false);
                            </script>
                        </div>
                    </div>
                </section>

                <section class="row section" id="ifttt">
                    <div class="row-content buffer even clear-after">
                        <div class="column twelve last">
                            <h2>Send IFTTT notifications to your Ubuntu phone</h2>
                            <p><a href="https://ifttt.com">IFTTT</a> is a really popular way to connect together
                            internet services; you can have it send a message and a URL to your Ubuntu phone when
                            something happens, where <em>something</em> is you being tagged in a photo on Facebook,
                            a parcel you're expecting being shipped, a github repository you care about being changed,
                            a stock you're watching reaching a limit, and <a href="https://ifttt.com/channels">nearly
                            200 other things</a>. IFTTT doesn't directly support Caxton yet, but you can make it work
                            anyway with a bit of a hack!</p>
                        </div>
                        <div class="column six">
                            <h3>First, get a Caxton password for IFTTT</h3>
                            <p>Press the <strong>Get a code</strong> button in Caxton on your Ubuntu
                            device and then enter the code in the box on the right.</p>
                            <p><a href="#" class="suppressed" id="show_all_ifttt">I've already done this; show me how to use it.</a></p>
                        </div>
                        <div class="column six last">
                            <form id="iftttform" class="getform">
                                <input type="text" id="iftttcode" maxlength=5 required placeholder="enter code from Caxton app">
                                <button id="getifttt" class="button mint getcode"><i class="fa fa-anchor"></i> <span>Get password for ifttt</span></button><span class="error"></span>
                            </form>
                            <style>
                            .ifttt-step2 { display: none; }
                            .ifttt-step2 #ifttt-token {
                                border: 3px solid rgba(79,206,173,1);
                                padding: 22px 12px 12px 12px;
                                position: relative;
                                background: #ddf5ef;
                            }
                            .ifttt-step2 #ifttt-token strong {
                                position: absolute;
                                top: -18px;
                                left: 10px;
                                border: 3px solid rgba(79,206,173,1);
                                background: rgba(79,206,173,1);
                                color: white;
                                padding: 1px 6px;
                                text-transform: uppercase;
                                font-size: 0.778em !important;
                                font-family: 'Montserrat', sans-serif !important;
                                font-weight: normal;
                            }
                            .ifttt-step2 #ifttt-token span {
                                font-family: monospace;
                            }
                            .ifttt-step2.last {
                                padding-top: 40px;
                            }
                            .twelve.divider {
                                border-bottom: 1px solid #eee;
                            }
                            .ifttt-step2.last img {
                                box-shadow: 2px 2px 8px #333;
                            }
                            </style>
                            <script>
                            document.getElementById("show_all_ifttt").addEventListener("click", function(e) {
                                e.preventDefault();
                                Array.prototype.slice.call(document.querySelectorAll(".ifttt-step2,.ifttt-step3")).forEach(function(d) {
                                    d.style.display = "block";
                                });
                            }, false);
                            document.getElementById("iftttform").addEventListener("submit", makeFormHandler({
                                appname: "ifttt",
                                success: function(token) {
                                    console.log("got ifttt token", token);
                                    document.querySelector("#ifttt-token span").appendChild(
                                        document.createTextNode(token));
                                    Array.prototype.slice.call(document.querySelectorAll(".ifttt-step2,.ifttt-step3")).forEach(function(d) {
                                        d.style.display = "block";
                                    });
                                    document.querySelector(".ifttt-step2").scrollIntoView(false);
                                }
                            }), false);
                            </script>
                        </div>
                        <div class="column twelve divider"></div>
                        <div class="column six ifttt-step2">
                            <h3>Next, activate the IFTTT WordPress channel</h3>
                            <p>Sign in to IFTTT (or sign up), and then choose WordPress from the Channels
                            page and Activate, or <a href="https://ifttt.com/channels/wordpress/activate">go 
                            directly to it here</a>.</p>
                            <ol>
                            <li>In <strong>Blog URL</strong> enter <strong>caxton.herokuapp.com</strong></li>
                            <li>In <strong>Username</strong> enter <strong>ifttt</strong></li>
                            <li>Copy your IFTTT Caxton password from below and paste it into the 
                            <strong>Password</strong> box</li>
                            <li>Hit <strong>Activate</strong></li>
                            </ol>
                            <p id="ifttt-token"><strong>Your IFTTT Caxton password</strong> <span></span></p>
                            <p><em>Note: it's important that you enter everything correctly. The username must be
                            <strong>ifttt</strong> in lower case, and the IFTTT Caxton password must be 
                            pasted correctly.</em></p>
                        </div>
                        <div class="column six last ifttt-step2">
                            <img src="ifttt-wordpress.png">
                        </div>
                        <div class="column twelve divider"></div>
                        <div class="column six ifttt-step2">
                            <h3>Finally, send URLs to your phone with IFTTT recipes</h3>
                            <p>Create a <em>recipe</em> on IFTTT, and use <strong>WordPress</strong> as
                            your <em>Action</em> when something is triggered. Choose <strong>Create a post</strong>
                            in the WordPress Action, and then in <strong>Complete Action Fields</strong>
                            fill in as follows:</p>
                            <ul>
                                <li>In <strong>Title</strong>, add the URL you wish to send to any app via Caxton.
                                You can use any IFTTT "variables" here that you choose.</li>
                                <li>In <strong>Body</strong>, add the message that you wish to accompany the URL.
                                You can use IFTTT variables here too, and you can leave it blank to just send the
                                URL if you prefer.</li>
                                <li>Leave Categories and Tags blank and Post Status at Publish Immediately 
                                (anything you enter will be ignored)</li>
                            </ul>
                            <p>You can then <strong>Create Action</strong> and your IFTTT recipe will now run
                            as often as you specify, and send messages and URLs through Caxton on your Ubuntu
                            phone whenever something happens!</p>
                        </div>
                        <div class="column six last ifttt-step2">
                            <img src="ifttt-wordpress-2.png">
                        </div>
                    </div>
                </section>

                <section class="row section call-to-action">
                    <div class="row-content buffer even">
                        <p>Get the Caxton app for your Ubuntu phone.</p>
                        <a class="button dlcaxton" href="https://appstore.bhdouglass.com/app/caxton.sil"><i></i> Download it now</a>
                    </div>
                </section>

                <section class="row section text-light" id="api" style="background-color:#258169;">
                    <div class="row-content buffer even clear-after">
                        <div class="column twelve last">
                            <h2>Caxton API</h2>
                            <p>Developers can use the Caxton API directly to send URLs to their Ubuntu phone
                            via Caxton.</p>
                        </div>
                        <div class="column six">
                            <h3>Get a token</h3>
                            <p>Ask the user to press the button in the Caxton phone app and then enter
                            the code it gives. <code>POST</code> that code and your app's name to
                            <code>/api/gettoken</code> to get a token. Save the token to use in future
                            send requests. You only need to do this once.</p>
                        </div>
                        <div class="column six last">
                            <h3>Code</h3>
                            <pre>curl -X POST \
 -d "code=abcde&amp;appname=My%20app%20name" \
 https://caxton.herokuapp.com/api/gettoken

Content-type: application/json
{"token": "lcaw...aspof"}
                            </pre>
                        </div>
                        <div class="column six">
                            <h3>Send a notification</h3>
                            <p><code>POST</code> to <code>/api/send</code> with required parameters <code>url</code>,
                            <code>appname</code>, and <code>token</code> and any optional parameters from below.
                            Your URL will be sent to Caxton and opened on the phone in whichever application
                            handles it. For an HTTP URL, this will be the web browser, but you can send any URL
                            you choose, including app-specific URLs to open a different app.</p>
                        </div>
                        <div class="column six last">
                            <h3>Code</h3>
                            <pre>curl -X POST \
 -d "appname=My%20app%20name" \
 --data-urlencode "token=lcaw...aspof" \
 -d "url=http://kryogenix.org" \
 https://caxton.herokuapp.com/api/send

Content-type: application/json
{ok: "Ok"}
                            </pre>
                            <p><small>Note that we use <code>--data-urlencode</code> to pass
                            the token with <code>curl</code> so that any <code>+</code> 
                            symbols in the token are not treated by curl as escaped spaces.
                            </small></p>
                        </div>
                        <div class="column six">
                            <h3>Required notification parameters</h3>
                            <dl>
                                <dt>url</dt>
                                <dd>A URL to open on the target device.</dd>
                                <dt>appname</dt>
                                <dd>The app name for which your token was registered.</dd>
                                <dt>token</dt>
                                <dd>The token returned from <code>/api/gettoken</code>.</dd>
                            </dl>
                        </div>
                        <div class="column six last">
                            <h3>Optional notification parameters</h3>
                            <dl>
                                <dt>message</dt>
                                <dd>A message to be shown in an on-screen notification on the device, and
                                saved with the URL for later access in the Caxton app.</dd>
                                <dt>count</dt>
                                <dd>A number to use in a badge on the Caxton icon.</dd>
                                <dt>sound</dt>
                                <dd>The name of a sound to play on the device when the notification arrives.
                                Choose from the following: (not yet specified, apologies.)</dd>
                                <dt>tag</dt>
                                <dd>A grouping for notifications; if this is specified, a newer notification
                                with the same tag will override the previous one. See the <a
                                href="http://developer.ubuntu.com/apps/platform/guides/push-notifications-server-guide/">push notifications server guide</a> for details.</dd>
                            </dl>
                        </div>
                    </div>
                </section>

                <section class="row section call-to-action">
                    <div class="row-content buffer even">
                        <p>You need Caxton. Your apps do too.</p>
                        <a class="button dlcaxton" href="https://appstore.bhdouglass.com/app/caxton.sil"><i></i> Get it now</a>
                    </div>
                </section>
            </div><!-- id-main -->